@tailwind base;
@tailwind components;
@tailwind utilities;

@import './tailadmin/tailadmin.css';

/* fallbacks / app-specific rules */
body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
